@import "../variables.scss";

.hero {
  padding: 64px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .hero--text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .discount--container {
      max-width: fit-content;
      height: fit-content;
      background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 13px;

      .discount--text {
        p {
          color: $white;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          width: 100%;

          span {
            color: $grey;
          }
        }
      }
    }

    .big--hero--text {
      .top--text--flex {
        margin: 0;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 50px;
      }

      h1 {
        width: fit-content;
        font-weight: 600;
        font-size: 72px;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: $white;

        span {
          background: radial-gradient(
            64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }

    .hero--desc {
      max-width: 483px;
      margin-top: 40px;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: $grey;
    }
  }

  .blur--bg {
    position: absolute;
    width: 900px;
    height: 250px;
    right: -80px;
    top: -150px;

    background: linear-gradient(
      180deg,
      rgba(188, 165, 255, 0.9) 0%,
      #2c74b8 100%
    );
    opacity: 0.1;
    filter: blur(100px);
    border-radius: 634px;
  }
  .blur--bg1 {
    position: absolute;
    width: 700px;
    height: 250px;
    right: 0px;
    top: 50px;

    background: linear-gradient(
      180deg,
      rgba(188, 165, 255, 0.9) 0%,
      #2c74b8 100%
    );
    opacity: 0.4;
    filter: blur(100px);
    border-radius: 634px;
  }

  .blur--bg2 {
    position: absolute;
    width: 600px;
    height: 250px;
    right: 90px;
    top: 250px;

    background: linear-gradient(
      90deg,
      rgba(26, 41, 128, 0.5) 0%,
      rgba(38, 208, 206, 0.5) 100%
    );
    opacity: 0.9;
    filter: blur(100px);
    border-radius: 634px;
  }

  .blur--bg3 {
    position: absolute;
    width: 200px;
    height: 250px;
    right: 290px;
    top: 400px;

    background: linear-gradient(
      180deg,
      rgba(188, 165, 255, 0.9) 0%,
      #2c74b8 100%
    );
    opacity: 0.8;
    filter: blur(100px);
    border-radius: 634px;
  }

  .hero--img {
    width: 100%;
    max-width: 781px;
    margin-right: -60px;

    img {
      width: 100%;
    }
  }

  .mobile--container {
    display: none;
  }

  .get--started--container {
    min-width: 130px;
    min-height: 130px;
    max-width: 140px !important;
    max-height: 140px !important;
    border-radius: 100px;
    border: 2px solid transparent;
    background: $linear-gradient-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;

      background: radial-gradient(
        64.18% 64.18% at 71.16% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      img {
        margin-bottom: -5px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    display: flex;
    flex-direction: column;

    .blur--bg3 {
      top: 1000px;
      width: 150px;
      right: 300px;
    }
    .blur--bg2 {
      top: 800px;
      width: 500px;
      right: 110px;
    }
    .blur--bg1 {
      top: 600px;
      width: 600px;
      right: 40px;
    }
    .blur--bg {
      top: 300px;
      width: 1200px;
    }

    .hero--img {
      padding-top: 40px;
    }
  }
}

@media screen and (min-width: 912px) {
  .hero {
    h1 {
      width: fit-content;
    }
  }
}

@media screen and (max-width: 540px) {
  .hero {
    h1 {
      font-size: 52px !important;
      max-width: fit-content;
    }

    .hero--img {
      padding-top: 40px;
      margin-right: -1px;
      width: 120%;
    }

    .blur--bg3 {
      display: none;
    }
    .blur--bg2 {
      top: 800px;
      width: 500px;
      right: 700px;
    }
    .blur--bg1 {
      top: 800px;
      width: 200px;
      right: 40px;
    }
    .blur--bg {
      top: 100px;
      width: 1200px;
    }

    .web--container {
      display: none;
    }
    .mobile--container {
      margin-top: 40px;
      display: block;
    }
  }
}
