@import "../variables.scss";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img--container {
    width: 100%;
    max-width: 636px;
    img {
      width: 100%;
    }
  }

  .product--details {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: $white;
      max-width: 470px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: $grey;
      width: 470px;
    }
  }
}

@media screen and (max-width: 765px) {
  .product {
    flex-direction: column-reverse;
    gap: 80px;

    .img--container {
      width: 100%;
    }

    .product--details {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: 40px;
        width: 100%;
      }

      p {
        width: 100%;
      }
    }
  }
}
