@import "../variables.scss";

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 80px;
  position: relative;

  .img--container {
    width: 100%;
    max-width: 50%;
    img {
      width: 100%;
    }
  }

  .product--details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 50%;

    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 160%;
      letter-spacing: 0.01em;
      color: $white;
      max-width: 470px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: $grey;
      width: 100%;
      max-width: 470px;
    }
  }
  .blur--bg--left {
    position: absolute;
    width: 436.52px;
    height: 544.07px;
    left: -500px;
    top: 100px;

    background: linear-gradient(90deg, #1a2980 0%, #26d0ce 100%);
    filter: blur(325px);
    border-radius: 200px;
    transform: rotate(47.46deg);
  }
}

@media screen and (max-width: 1024px) {
  .product {
    .product--details {
      h1 {
        font-size: 40px;
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 912px) {
  .product {
    flex-direction: column-reverse;
    gap: 80px;
    padding-bottom: 40px;

    .img--container {
      width: 100%;
      max-width: 100%;
    }

    .product--details {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-width: 100%;
      align-items: flex-start;
    }
  }
}
